@import './src/styles/mixins.module';
@import './src/styles/variables.module';


.ItemCardDescription {
  @include flex(flex, flex-start, center, column);

  .titleName {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
  }

  .titleType {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
    margin-top: 16px;
  }

  .attrCont {
    margin-top: 19px;

    .paramAttrCont {
      @include flex(flex, flex-start, center, column);
      margin-top: 24px;


      .attrCont {
        @include flex(flex, center, center);
        margin-top: 8px;

        .attr {
          @include flex(flex, center, center);
          @include dimensions(63px, 45px);
          border: 1px solid $border;
          margin-right: 12px;
        }

        .activeAttr {
          @include flex(flex, center, center);
          @include dimensions(63px, 45px);
          border: 1px solid $border;
          margin-right: 12px;
          background-color: #1D1F22;
          color: white;
          user-select: none;
        }
      }
    }

    .paramColorCont {
      @include flex(flex, flex-start, center, column);
      margin-top: 24px;

      .colorCont {
        @include flex(flex, center, center);
        margin-top: 8px;

        .color {
          @include dimensions(32px, 32px);
          margin-right: 8px;
          outline: 1px solid $grey
        }

        .activeColor {
          @include dimensions(32px, 32px);
          margin-right: 8px;
          outline: 2px solid $primary;
        }

      }

    }

    .paramPriceCont {
      @include flex(flex, flex-start, center, column);
      margin-top: 38px;

      .price {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 18px;
        padding: 10px 0;
        margin-top: 10px;
      }
    }

    .params {
      font-family: 'Roboto Condensed', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 18px;
      text-transform: uppercase;
    }
  }

  .cursorPointer {
    cursor: pointer;
  }

  .description {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 159.96%;
    @include dimensions(290px, 100px);
    margin-top: 40px;
    overflow: hidden;
  }
}
