@import './src/styles/mixins.module';
@import './src/styles/variables.module';

.currencyCont {
  @include dimensions(125px);
  padding: 20px 0;
  background-color: white;
  position: absolute;
  right: 78px;
  top: 65px;
  box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
  z-index: 10;

  li {
    list-style: none;
  }

}
