@import './src/styles/mixins.module';
@import './src/styles/variables.module';

.content {
  margin-top: 80px;

  .contentTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
    text-align: left;
  }

  .contentGallery {
    @include flex(flex, center, space-between, '', wrap);
    margin-top: 103px;


  }
}
