@import './src/styles/mixins.module';
@import './src/styles/variables.module';

.content {
  margin-top: 80px;

  .contentTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
    text-align: left;
    text-transform: uppercase;
  }

  .contentGallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(385px, 1fr));
    grid-gap: 18rem;
    place-items: center;
    margin-top: 103px;
  }

  .cartImg {
    @include dimensions(52px, 52px);
    position: absolute;
    right: 20px;
    bottom: 80px;
    z-index: 9;
  }
}
