@import './src/styles/mixins.module';
@import './src/styles/variables.module';

.cartContainer {
  @include flex(flex, center, space-between);
  @include dimensions(70px);
  position: relative;

  .currencyContainer {

    .dollarImg {

    }

    .arrowImg {
      margin-left: 10px;
      margin-bottom: 5px;

    }

    &:hover {
      cursor: pointer;
    }

  }

  .cartImg {

    &:hover {
      cursor: pointer;
    }
  }

  .countCircleContainer {
    position: absolute;
    right: -10px;
    top: -10px;

    .cartCount {
      font-size: 12px;
      position: absolute;
      right: 6px;
      top: 3px;
      color: white;
      }

    .countCircle {

    }
  }

}
