@import './src/styles/mixins.module';
@import './src/styles/variables.module';


.totalOrderCont {
  @include flex(flex, flex-start, center, column);
  margin-top: 24px;

  .cartHr {
    background: $hr;
    width: 100%;
  }

  .totalCont {
    @include flex(flex, flex-start, center, column);
    margin-top: 32px;

    .textCont {
      margin-bottom: 8px;

      .totalOrderText {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
      }

      .totalOrderTextBold {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
      }
    }
  }

}
