@import './src/styles/mixins.module';
@import './src/styles/variables.module';

.currencyItem {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  padding: 8px 38px 8px 20px;
  cursor: pointer;
}

.currencyItemActive {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  padding: 8px 38px 8px 20px;
  background: $grey;
}
